{% extends 'app/base.html' %}
{% load static %}
{% block title %} {{ post.title }} | Przychodnia Weterynaryjna | Z miłości do zwierząt {% endblock %}
<!--Pasek nawigacyjny-->
{% include "app/navbar.html" %}

{% block content %}

<h1 class="p-5">{{ post.title }}</h1>
<small>Utworzone przez:
    {{ post.author.first_name}}
    {{ post.author.last_name}} -
    {{ post.post_date }}

    {% if is_receptionist %}
    <a href="{% url 'update-post' post.pk %}"> (Edytuj) </a>
    <a href="{% url 'delete-post' post.pk %}"> (Usuń) </a>
    {% endif %}
</small>
<br/>
<hr>
<br/>
{{ post.text|safe }}
<br/><br/>
<a href="{% url 'blog' %}" class="btn2">Powrót</a>

{% endblock %}


