{% extends 'app/base.html' %}
{% load static %}
{% block title %}Blog | Przychodnia Weterynaryjna | Z miłości do zwierząt {% endblock %}
<!--Pasek nawigacyjny-->
{% include "app/navbar.html" %}

{% block content %}

<section id="posts_list" class="post-list p-5">
    <div id="blog" class="container">
        <h1 class="text-center">Przydatne informacje</h1>
        <h4 class="text-center">To warto wiedzieć!</h4>
        <br/>
        {% if is_receptionist %}
            <a href="{% url 'add-post' %}" class="btn2 d-flex justify-content-center"> Dodaj nowy post</a>
            {% endif %}
        <br/>
        <div class="posts mt-5">
            <div class="row g-4">
            {% for post in object_list %}
                <div class="card text-center mx-2" style="height: 30rem;">
                    <img src="static/images/blog.png" class="img-thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'article-details' post.pk %}"> {{ post.title }} </a></h5>
                                Opublikowano dnia: <br/>
                                {{ post.post_date }}
                        {% if is_receptionist %}
                        <br/>
                        <br/>
                        <a href="{% url 'update-post' post.pk %}" class="btn2 mx-2"> Edytuj </a>
                        <a href="{% url 'delete-post' post.pk %}" class="btn2"> Usuń </a>
                        {% endif %}
                        <br/>
                        <br/>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br/>
            <br/>
        </div>
    </div>
</section>

{% endblock %}


