{% extends 'app/base.html' %}
{% load static %}
{% block title %} Usuwanie posta | Przychodnia Weterynaryjna | Z miłości do zwierząt {% endblock %}
<!--Pasek nawigacyjny-->
{% include "app/navbar.html" %}

{% block content %}

<section id="delete-post" class="p-5 bg-light">
    <h2 class="text-dark">Usuń post..</h2>
    <br/><br/>
    <h4>Chcesz usunąć: {{ post.title }}</h4>
    <br/>

    <div class="form-group p-5">
        <form method="POST">
            {% csrf_token %}
          <strong> Czy jesteś tego pewny?</strong><br/> <br/>
            <button class="btn2">Usuń post!</button> <br/> <br/>
             <a href="{% url 'blog' %}" class="btn2">Powrót</a>
        </form>
    </div>
</section>

{% endblock %}
