{% extends 'app/base.html' %}
{% load static %}
{% block title %} Usuwanie danych zwierzęcia | Przychodnia Weterynaryjna | Z miłości do zwierząt {% endblock %}
<!--Pasek nawigacyjny-->
{% include "app/navbar.html" %}

{% block content %}

<section id="delete-animal" class="p-5 bg-light">
    <h2 class="text-dark">Usuń wizytę..</h2>
    <br/><br/>
    <h4>Chcesz usunąć wizytę: {{ animal.name }}</h4>
    <br/>

    <div class="form-group p-5">
        <form method="POST">
            {% csrf_token %}
          <strong> Czy jesteś tego pewny?</strong><br/> <br/>
            <button class="btn2">Usuń!</button>
        </form>
        <a href="{% url 'animals' %}" class="btn2">Powrót</a>
    </div>
</section>

{% endblock %}
